.header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    
    &__logo img{
        max-width: unset;
    }

    &__menu {
        padding: 0 5px;
    }
    
    &__content {
        display: flex;
        align-items: center;
        min-height: 90px;
        border-bottom: 1px solid #E5E5E5;
    }
}


