.button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    background-color: #030305;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 150%;
    padding: 5px 53px;
    transition: all 0.2s ease-in 0s;

    &:hover{
        background-color: #575757;

    }


    &--cars {
        min-height: 54px;
        padding: 5px 122px;
    }
}
